<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.hydx.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.hydx.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllGoods</servlet-name>
        <servlet-class>com.hydx.servlet.GetAllGoods</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGoods</servlet-name>
        <servlet-class>com.hydx.servlet.DeleteGoods</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGoods</servlet-name>
        <servlet-class>com.hydx.servlet.UpdateGoods</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.hydx.servlet.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserState</servlet-name>
        <servlet-class>com.hydx.servlet.ChangeUserState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllUser</servlet-name>
        <servlet-class>com.hydx.servlet.GetAllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllManager</servlet-name>
        <servlet-class>com.hydx.servlet.GetAllManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGoods</servlet-name>
        <servlet-class>com.hydx.servlet.AddGoods</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllOrder</servlet-name>
        <servlet-class>com.hydx.servlet.GetAllOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>com.hydx.servlet.DeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOrderState</servlet-name>
        <servlet-class>com.hydx.servlet.ChangeOrderState</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginA</servlet-name>
        <servlet-class>com.hydx.servlet.LoginA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Purchase</servlet-name>
        <servlet-class>com.hydx.servlet.Purchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrders</servlet-name>
        <servlet-class>com.hydx.servlet.GetOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteManager</servlet-name>
        <servlet-class>com.hydx.servlet.DeleteManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteManager</servlet-name>
        <url-pattern>/deletemanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrders</servlet-name>
        <url-pattern>/getorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Purchase</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginA</servlet-name>
        <url-pattern>/login_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOrderState</servlet-name>
        <url-pattern>/changeorderstate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/deleteorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllOrder</servlet-name>
        <url-pattern>/getallorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGoods</servlet-name>
        <url-pattern>/addgoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGoods</servlet-name>
        <url-pattern>/updategoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllGoods</servlet-name>
        <url-pattern>/getallgoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGoods</servlet-name>
        <url-pattern>/deletegoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllManager</servlet-name>
        <url-pattern>/getallmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserState</servlet-name>
        <url-pattern>/changeuserstate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllUser</servlet-name>
        <url-pattern>/getalluser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
</web-app>
